body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo:hover,
.logo:focus {
    color: #6D7AF5;
} 

.logo-footer {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.logo-footer:hover,
.logo-footer:focus {
    color: #6D7AF5;
} 

.logo-web {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-list {
    line-height: 1.5;
    font-size: 16px;
    color: #2E2F42;
    font-weight: 500;
}

.nav-list:hover,
.nav-list:focus {
    color: #404BBF;
}

.nav-list-reg {
    line-height: 1.5;
    font-size: 16px;
    color: #434455;
    font-weight: 400;   
    font-style: normal;
}

.nav-list:hover,
.nav-list:focus {
    color: #404BBF;
}

.page-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.page-title-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.page-title-button:hover,
.page-title-button:focus {
    background-color: #404BBF;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}

.advantages-list-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 500;
}

.advantages-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-list-title {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

.portfolio-list-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
}

.portfolio-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-background {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
}

.section-team {
    background-color: #F4F4FD;
}

.link {
    letter-spacing: 0.02em;
    color: #2E2F42;    
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.link-reg {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455
}

.link-reg:hover,
.link-reg:focus {
    color:#404BBF;
}

.portfolio-list {
    background-color: #FFFFFF;
}