body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.logo {
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
}

.logo:hover,
.logo:focus {
    color: #6D7AF5;
} 

.logo-web {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
}

.nav-list {
    line-height: 1.5;
    font-size: 16px;
    color: #2E2F42;
    font-weight: 500;
}

.nav-list:hover,
.nav-list:focus {
    color: #404BBF;
}

.nav-list-reg {
    line-height: 1.5;
    font-size: 16px;
    color: #434455;
    font-weight: 400;
}

.nav-list:hover,
.nav-list:focus {
    color: #404BBF;
}

.page-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
}

.page-title-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.page-title-button:hover,
.page-title-button:focus {
    background-color: #404BBF;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
}

.advantages-list-title {
    font-size: 20px;
    line-height: 1.2;
}

.advantages-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.team-list-title {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.team-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.portfolio-list-title {
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.section-background {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
}

.section-team {
    background-color: #F4F4FD;
}